@import './variables.css';

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color-light-gray); 
  color: var(--primary-color-black);
}
.custom-button {   
  width: 100%;
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  border: none;
  padding: var(--spacing-medium);
  cursor: pointer;
  font-size: var(--font-size-medium);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: 0 auto;
}
.custom-button:hover {
  background-color: var(--secondary-color-blue);
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.page-layout {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.page-content {
  margin-left: 250px; 
  width: calc(100% - 250px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left 0.3s ease;
  overflow: hidden;
}
.link-style {
  color: var(--primary-color-blue);
  text-decoration: none;
}
.link-style:hover {
  text-decoration: underline;
}
.message-error {
  color: var(--error-color);
  font-size: 14px;
  white-space: nowrap;  
  overflow: hidden;     
  text-overflow: ellipsis;   
  height: 20px;
  display: block;
}
.custom-label {
  display: flex; 
  margin-bottom: var(--spacing-medium); 
  margin-left: var(--spacing-medium); 
  font-size: var(--font-size-medium); 
  color: var(--primary-color-black);
  text-align: left; 
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.icon-image {
  color: var(--primary-color-blue);
  text-align: center; 
  margin-bottom: var(--spacing-medium);
}
.material-symbols-outlined {
  font-size: 20px; 
  vertical-align: text-top; 
}
.material-symbols-outlined.icon-large {
  font-size: 35px; 
}
.material-symbols-outlined.icon-huge {
  font-size: 86px; 
}
.material-icons {
  /* font-size: var(--font-size-medium);            */
  font-size: 18px; 
  vertical-align: sub; 
}
.material-icons.icon-large {
  font-size: 86px; 
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 10px 0;
  margin: 0;
}
.header-icon i{
  color: var(--primary-color-blue);
}
input:focus {
  border-color: var(--primary-color-blue); 
  outline: none; 
  box-shadow: 0 0 5px var(--secondary-color-gradient-blue); 
}

@media (max-width: 600px) {
  .material-icons.icon-large {
    font-size: 56px; 
  }
  input {
    width: 80%; 
  }
  button {
    width: 100%; 
  }
}  
@media (max-width: 768px) {  
  .material-icons.icon-large {
    font-size: 72px;
  }
  input {
    width: 80%; 
  }
  button {
    width: 80%; 
  }
}
@media (min-width: 1024px) {  
  .material-icons.icon-large {
    font-size: 96px; 
  }
}